// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.List-Matches {
    font-size: 20px;
    text-align: center;
}
.Container{
    display: flex;
    justify-content: center;
}